
@{
    ViewBag.Title = "View Inventory";
}

<!--Modal-->
<div class="modal fade" id="DeleteModal">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header bg-danger">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Warning</h3>
            </div>
            <form method="post" action="@Url.Action("DeleteInventory", "Inventory")">
                <div class="modal-body p-5">
                    <h6 class="text-semibold">
                        Do you really want to Delete this Inventory?<br />
                        This Inventory is going to permanently delete from our System and its Attached Sales as well.<br />
                        This Action Cannot be Undone.
                    </h6>
                    <input type="hidden" name="id" id="InventoryDeleteId" />
                </div>
                <div class="modal-footer border-top-1 border-top-grey-800 pt-10">
                    <button type="button" class="btn btn-link" data-dismiss="modal">No</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </form>
        </div>
    </div>

</div>


<!--Modal-->
<div class="modal fade" id="DiscountPrice">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header bg-danger">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Success</h3>
            </div>
            <div class="modal-body p-5">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label text-bold">Discount Percentage: <span class="text-danger">*</span></label>
                            <input type="number" name="Discount" id="DiscountPercentage" class="form-control required" required="required" placeholder="Discount Percentage">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer border-top-1 border-top-grey-800 pt-10">
                <button type="button" class="btn btn-link" data-dismiss="modal">No</button>
                <button onclick="Discount()" class="btn btn-danger">Add Discount</button>
            </div>
        </div>
    </div>

</div>
<!--Form Modal-->
<!-- row -->
<div class="row row-sm">
    <div class="row">
        <div class="col-lg-6 col-md-offset-3" id="ViewBagMessages">
            @if (ViewBag.successfullmessage != "" && ViewBag.successfullmessage != null)
            {
                <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
                    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold">Complete!</span> @ViewBag.successfullmessage.
                </div>
            }
            @if (ViewBag.errormessage != "" && ViewBag.errormessage != null)
            {
                <div class="alert alert-danger alert-styled-left alert-bordered">
                    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold">Oh snap!</span> @ViewBag.errormessage <span class="alert-link">try submitting again</span>.
                </div>
            }
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-flat text-black">
            <div class="panel-heading" style="background: #e8eced ">
                <h2 class="text-center text-black">
                    Search
                </h2>
                <div class="heading-elements">
                    <ul class="icons-list">
                        <li><a data-action="collapse" class="rotate-180"></a></li>
                    </ul>
                </div>
            </div>
            <div class="panel-body pt-20 pb-20" style="display:none">
                <div class="row">

                    <div class="col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><strong>Serial #:</strong></label>
                            <input type="text" placeholder="" class="form-control" id="searchSerial">
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-4">
                        <div class="form-group">
                            <label class="control-label text-bold">
                                Brand: <span class="text-danger">*</span>
                                <i id="brandLoader" class="icon-circle" style="display:none"></i>
                            </label>
                            <select name="BrandId" data-placeholder="Select Brand..." id="getBrandOptions" class="form-control required" required="">
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-4">
                        <div class="form-group">
                            <label class="control-label text-bold">
                                Size <span class="text-danger">*</span>
                                <i id="getSizeLoader" class="icon-circle" style="display:none"></i>
                            </label>
                            <select name="SizeId" id="getSizeOptions" data-placeholder="Select Size..." class="form-control required" required="required">
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-4">
                        <div class="form-group">
                            <label class="control-label text-bold">
                                Collection <span class="text-danger">*</span>
                                <i id="getCollectionLoader" class="icon-circle" style="display:none"></i>
                            </label>
                            <select name="CollectionId" id="getCollectionOptions" data-placeholder="Select Collection..." class="form-control required" required="required">
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-4">
                        <div class="form-group">
                            <label class="control-label text-bold">
                                Color <span class="text-danger">*</span>
                                <i id="getColorLoader" class="icon-circle" style="display:none"></i>
                            </label>
                            <select name="ColorId" id="getColorOptions" data-placeholder="Select Color..." class="form-control required" required="required">
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-4">
                        <div class="form-group">
                            <label class="control-label text-bold">
                                Gender <span class="text-danger">*</span>
                                <i id="getGenderLoader" class="icon-circle" style="display:none"></i>
                            </label>
                            <select name="GenderId" id="getGenderOptions" data-placeholder="Select Gender..." class="form-control required" required="required">
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-4">
                        <div class="form-group">
                            <label class="control-label text-bold">
                                Shoe Style <span class="text-danger">*</span>
                                <i id="getShoeStyleLoader" class="icon-circle" style="display:none"></i>
                            </label>
                            <select name="ShoeStyleId" id="getShoeStyleOptions" data-placeholder="Select Shoe Style..." class="form-control required" required="required">
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><strong>Price:</strong></label>
                            <input type="text" placeholder="" class="form-control" id="searchPrice">
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><strong>Sale Price:</strong></label>
                            <input type="text" placeholder="" class="form-control" id="searchSalePrice">
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><strong>Inventory Date:</strong></label>
                            <input type="date" placeholder="" class="form-control" id="searchDate">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <a href="@Url.Action("ViewInventory","Inventory")" class="btn btn-danger btn-block">Reset</a><br />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12"></div>

                    <div class="col-md-3 col-sm-12 col-xs-12" style="padding-left: 20px; padding-right: 20px; ">
                        <div class="form-group text-right">
                            <button onclick="AddDiscount()" class="btn btn-warning btn-block">Add Discount</button><br />
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-12 col-xs-12" style="padding-left: 20px; padding-right: 20px; ">
                        <div class="form-group text-right">
                            <button onclick="SearchInventory()" class="btn btn-success btn-block">Search</button><br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--div-->
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-header pb-0">
                <div class="d-flex justify-content-between">
                    <h4 class="card-title mg-b-0"></h4>
                    <i class="mdi mdi-dots-horizontal text-gray"></i>
                </div>
                <div class="row">
                    <div class="col-md-9 col-sm-12">
                        &nbsp;
                    </div>
                    <div class="col-md-2 col-sm-12 pull-right">
                        <a class="btn btn-primary" href="@Url.Action("NewInventory","Inventory")">Add New Inventory</a>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="">
                    <span class="h5">Total Price Of Current Records are: Rs <span class="h3 text-bold" id="TotalPrice"></span></span><br />
                    <span class="h5">Total Sale Price Of Current Records are: Rs <span class="h3 text-bold" id="TotalSalePrice"></span></span>
                </div>
                <div class="table-responsive">
                    <table class="table text-md-nowrap table-striped table-bordered text-center" id="InventoryTable">
                        <thead class="bg-purple">
                            <tr>
                                <th class="text-center">Serial #</th>
                                <th class="text-center">Brand</th>
                                <th class="text-center">Style</th>
                                <th class="text-center">Gender</th>
                                <th class="text-center">Size</th>
                                <th class="text-center">Color</th>
                                <th class="text-center">Price</th>
                                <th class="text-center">Sale Price</th>
                                <th class="text-center">Inventory Date</th>
                                <th class="text-center">Days on Lot</th>
                                <th class="text-center">Quantity</th>
                                <th class="text-center">Discount Percentage</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--/div-->
</div>
<!-- row closed -->

<script>
    LoadInventory();
    function LoadInventory(Serial, Style, Brand, Color, Size, Price, SalePrice, Date, Discount) {
        $('#InventoryTable').DataTable(
        {
            "ajax":
            {
                "url": '@Url.Action("GetInventoryList", "Inventory")',
                "type": "POST",
                "datatype": "json",
                "data": {
                    Serial: Serial,
                    Style: Style,
                    Brand: Brand,
                    Color: Color,
                    Size: Size,
                    Price: Price,
                    SalePrice: SalePrice,
                    Date: Date,
                    Discount: Discount
                }
            },
            'columns':
                [
                    { "data": "SerialNumber", "name": "BarcodeNo" },
                    { "data": "Brand", "name": "Brand" },
                    { "data": "ShoeStyle", "name": "ShoeStyle" },
                    { "data": "Gender", "name": "Gender" },
                    { "data": "Size", "name": "Size" },
                    { "data": "Color", "name": "Color" },
                    { "data": "Price", "name": "Price" },
                    { "data": "SalePrice", "name": "SalePrice" },
                    { "data": "InventoryDate", "name": "InventoryDate" },
                    { "data": "DaysofLot", "name": "InventoryDate" },
                    { "data": "Quantity", "name": "extra1" },
                    { "data": "Discount", "name": "Discount" },
                    { "data": "Action", "name": "" }
                ],
            'columnDefs':
            [
                {
                    "targets": 0,
                    'className': 'col-lg-2',
                    "render": function(data, type, full, meta) {
                        return full.SerialNumber;
                    }
                },
                {
                    "targets": 1,
                    'className': 'col-lg-3',
                    "render": function (data, type, full, meta) {
                        return full.Brand;
                    }
                },
                {
                    "targets": 2,
                    'className': 'col-lg-4',
                    "render": function (data, type, full, meta) {
                        return full.ShoeStyle;
                    }
                },
                {
                    "targets": 3,
                    'className': 'col-lg-2',
                    "render": function (data, type, full, meta) {
                        return full.Gender;
                    }
                },
                {
                    "targets": 4,
                    'className': 'col-lg-2',
                    "render": function (data, type, full, meta) {
                        return full.Size;
                    }
                },
                {
                    "targets": 5,
                    'className': 'col-lg-2',
                    "render": function (data, type, full, meta) {
                        return full.Color;
                    }
                },
                {
                    "targets": 6,
                    'className': 'col-lg-2',
                    "render": function (data, type, full, meta) {
                        return full.Price;
                    }
                },
                {
                    "targets": 7,
                    'className': 'col-lg-2',
                    "render": function (data, type, full, meta) {
                        return full.SalePrice;
                    }
                },
                {
                    "targets": 8,
                    'className': 'col-lg-2',
                    "render": function (data, type, full, meta) {
                        return full.InventoryDate;
                    }
                },
                {
                    "targets": 9,
                    'className': 'col-lg-2',
                    "render": function (data, type, full, meta) {
                        return full.DaysofLot;
                    }
                },
                {
                    "targets": 10,
                    'className': 'col-lg-2',
                    "render": function (data, type, full, meta) {
                        return full.Quantity;
                    }
                },
                {
                    "targets": 11,
                    'className': 'col-lg-2',
                    "render": function (data, type, full, meta) {
                        return full.Discount;
                    }
                },
                {
                    "targets": 12,
                    'className': 'col-lg-1',
                    'searchable': false,
                    'orderable': false,
                    "render": function (data, type, full, meta)
                    {
                        if (full.Role == 1) {
                            $("#TotalPrice").text(full.TotalPrice);
                            $("#TotalSalePrice").text(full.TotalSalePrice);
                            return '<ul class="icons-list text-center">' +
                                        '<li class="dropdown"> ' +
                                            '<a href="#" class="dropdown-toggle" data-toggle="dropdown">'+
                                                '<i class="icon-menu9"></i >' +
                                            '</a >' +
                                            '<ul class="dropdown-menu dropdown-menu-right"> ' +
                                                '<li><a class="text-primary" href="../Inventory/UpdateInventory?Id=' + full.EncryptedId + '"><i class="icon-pencil"></i> Edit</a></li>' +
                                                //'<li><a class="text-success" href="../Inventory/Details?Id=' + full.EncryptedId + '"><i class="icon-design"></i> Details</a></li>' +
                                                '<li><a class="text-danger" onclick="deleteFunction(' + full.Id + ')"><i class="glyphicon glyphicon-floppy-remove"></i> Delete</a></li>' +
                                            '</ul>' +
                                        '</li>' +
                                    '</ul>';
                        }
                        else {
                            return '<ul class="icons-list text-center">' +
                                        '<li class="dropdown"> ' +
                                            '<a href="#" class="dropdown-toggle" data-toggle="dropdown">'+
                                                '<i class="icon-menu9"></i >' +
                                            '</a >' +
                                            '<ul class="dropdown-menu dropdown-menu-right"> ' +
                                                '<li><a class="text-primary" href="../Inventory/UpdateInventory?Id=' + full.EncryptedId + '"><i class="icon-pencil"></i> Edit</a></li>' +
                                                //'<li><a class="text-success" href="../Inventory/Details?Id=' + full.EncryptedId + '"><i class="icon-design"></i> Details</a></li>' +
                                            '</ul>' +
                                        '</li>' +
                                    '</ul>';
                        }
                    }
                }
            ],
            "serverSide": "true",
            "processing": "true",
            "language":
            {
                "processing": "<i class='icon-spinner spinner icon-3x'></i>",
                "search": "<span>Search :</span> _INPUT_",
                "searchPlaceholder": "Type to Filter",
                "lengthMenu": "<span>Show :</span> _MENU_",
                "paginate": { 'first': 'First', 'last': 'Last', 'next': '&rarr;', 'previous': '&larr;' }
            },
            "initComplete": function (settings, json) {
                
            }
        });
    }

    function SearchInventory()
    {
        var Serial = $('#searchSerial').val();
        var Brand = $('#getBrandOptions').val();
        var Size = $('#getSizeOptions').val();
        var Collection = $('#getCollectionOptions').val();
        var Color = $('#getColorOptions').val();
        var Gender = $('#getGenderOptions').val();
        var Style = $('#getShoeStyleOptions').val();
        var Price = $('#searchPrice').val();
        var SalePrice = $('#searchSalePrice').val();
        var Date = $('#searchDate').val();
        var Discount = -1;
        $('#InventoryTable').DataTable().clear();
        $('#InventoryTable').DataTable().destroy();
        LoadInventory(Serial, Style, Brand, Color, Size, Price, SalePrice, Date, Discount);

    }

    function deleteFunction(id) {
        $("#InventoryDeleteId").val(id);
        $("#DeleteModal").modal('show');
    }

    function AddDiscount() {
        $("#DiscountPrice").modal('show');
    }

    function Discount() {
        var Serial = $('#searchSerial').val();
        var Brand = $('#getBrandOptions').val();
        var Size = $('#getSizeOptions').val();
        var Collection = $('#getCollectionOptions').val();
        var Color = $('#getColorOptions').val();
        var Gender = $('#getGenderOptions').val();
        var Style = $('#getShoeStyleOptions').val();
        var Price = $('#searchPrice').val();
        var SalePrice = $('#searchSalePrice').val();
        var Date = $('#searchDate').val();
        var Discount = $("#DiscountPercentage").val();
        $('#InventoryTable').DataTable().clear();
        $('#InventoryTable').DataTable().destroy();
        LoadInventory(Serial, Style, Brand, Color, Size, Price, SalePrice, Date, Discount);
        $("#DiscountPrice").modal('hide');
    }
</script>

<script>
    GetBrand();
    function GetBrand() {
        $("#brandLoader").show();
        $.ajax({
            type: "GET",
            url: '../Inventory/getBsst',
            data: {
                categoryName: 1
            },
            success: function (data) {
                var listAppend = "<option value=''>Select Brand...</option>";
                for (var i = 0; i < data.length; i++) {
                    listAppend += "<option value = '" + data[i].Id + "'>" + data[i].BSSTName + " </option>";
                }
                $("#getBrandOptions").append(listAppend);

                $("#brandLoader").hide();
            },
            error: function () {
                alert("There was an error retrieving the hierarchy; please reload the page.");
            },
            complete: function () {
                GetSize();
            }
        });
    }

    function GetSize() {
        $("#getSizeLoader").show();
        $.ajax({
            type: "GET",
            url: '../Inventory/getBsst',
            data: {
                categoryName: 2
            },
            success: function (data) {
                $("#getSizeOptions").empty().append("");
                var listAppend = "<option value=''>Select Size...</option>";
                for (var i = 0; i < data.length; i++) {
                    listAppend += "<option value = '" + data[i].Id + "'>" + data[i].BSSTName + " </option>";
                }
                $("#getSizeOptions").append(listAppend);

                $("#getSizeLoader").hide();
            },
            error: function () {
                alert("There was an error retrieving the hierarchy; please reload the page.");
            },
            complete: function () {
                GetCollection();
            }
        });
    }

    function GetCollection() {
        $("#getCollectionLoader").show();
        $.ajax({
            type: "GET",
            url: '../Inventory/getBsst',
            data: {
                categoryName: 3
            },
            success: function (data) {
                $("#getCollectionOptions").empty().append(listAppend);
                var listAppend = "<option value=''>Select Collection...</option>";
                for (var i = 0; i < data.length; i++) {
                    listAppend += "<option value = '" + data[i].Id + "'>" + data[i].BSSTName + " </option>";
                }
                $("#getCollectionOptions").append(listAppend);

                $("#getCollectionLoader").hide();
            },
            error: function () {
                alert("There was an error retrieving the hierarchy; please reload the page.");
            },
            complete: function () {
                GetColor();
            }
        });
    }

    function GetColor() {
        $("#getColorLoader").show();
        $.ajax({
            type: "GET",
            url: '../Inventory/getBsst',
            data: {
                categoryName: 4
            },
            success: function (data) {
                $("#getColorOptions").empty().append("");
                var listAppend = "<option value=''>Select Color...</option>";
                for (var i = 0; i < data.length; i++) {
                    listAppend += "<option value = '" + data[i].Id + "'>" + data[i].BSSTName + " </option>";
                }
                $("#getColorOptions").append(listAppend);

                $("#getColorLoader").hide();
            },
            error: function () {
                alert("There was an error retrieving the hierarchy; please reload the page.");
            },
            complete: function () {
                GetGender();
            }
        });
    }

    function GetGender() {
        $("#getGenderLoader").show();
        $.ajax({
            type: "GET",
            url: '../Inventory/getBsst',
            data: {
                categoryName: 5
            },
            success: function (data) {
                $("#getGenderOptions").empty().append("");
                var listAppend = "<option value=''>Select Gender...</option>";
                for (var i = 0; i < data.length; i++) {
                    listAppend += "<option value = '" + data[i].Id + "'>" + data[i].BSSTName + " </option>";
                }
                $("#getGenderOptions").append(listAppend);

                $("#getGenderLoader").hide();
            },
            error: function () {
                alert("There was an error retrieving the hierarchy; please reload the page.");
            },
            complete: function () {
                GetShoeStyle();
            }
        });
    }

    function GetShoeStyle() {
        $("#getShoeStyleLoader").show();
        $.ajax({
            type: "GET",
            url: '../Inventory/getBsst',
            data: {
                categoryName: 6
            },
            success: function (data) {
                $("#getShoeStyleOptions").empty().append("");
                var listAppend = "<option value=''>Select Shoe Style...</option>";
                for (var i = 0; i < data.length; i++) {
                    listAppend += "<option value = '" + data[i].Id + "'>" + data[i].BSSTName + " </option>";
                }
                $("#getShoeStyleOptions").append(listAppend);

                $("#getShoeStyleLoader").hide();
            },
            error: function () {
                alert("There was an error retrieving the hierarchy; please reload the page.");
            },
            complete: function () {

            }
        });
    }
</script>